{% extends "base.html" %}

{% block content %}
<div>
PHP

На PHP работает около 78.2% всех веб-сайтов. Язык впервые был представлен в 1995 году,
когда для создания динамических сайтов существовало не так много возможностей.
Поскольку это динамически типизированный язык, для одной проблемы можно найти сразу несколько решений.
Правда, это одновременно означает и то, что один и тот же участок когда может вести себя по-разномув зависимости
от конкретной ситуации, что делает программы на PHP сложно масштабируемыми и в некоторых случаях медленными.

PHP — отличный язык для начинающих и вот почему:
Он допускает ошибки.Так, программа, в коде которой есть проблемы, будет выполняться пока не достигнет участка с ошибкой.
У языка очень большое сообщество, причем для новичков доступно большое количество обучающих материалов.
Язык постоянно обновляется, так что убедитесь, что изучаете именно последнюю версию.
Установить PHP гораздо проще, чем, скажем, Ruby on Rails.
Вы можете загрузить MAMP для MAC или WAMP для Windows и через 5 минут все будет готово к работе.

Что можно делать на PHP
Собирать данные форм.
Генерировать динамические страницы.
Отправлять и получать куки.
Писать скрипты.
Выполнять сценарии на стороне сервера.
Писать десктопные приложения.

Компании, которые используют PHP

Вот список компаний и некоторые самые известные:
Facebook
Lyft
Mint
Hootsuite
Viber
Buffer
DocuSign

А сколько получает PHP-разработчик?

Весной 2020 года средняя зарплата PHP-программиста в США составляла $82007 в год. Разброс — от $55k до $100k.
</div>
{% endblock %}