{% extends "base.html" %}

{% block content %}
<div>
Python

За последние несколько лет он стал чрезвычайно популярным языком программирования.
Язык универсален и используется как для веб-разработки, так и для создания настольных приложений.
В интернете есть огромное количество различной информации об этом язык, так что он неплохо подходит для начинающих.
Более того, синтаксис языка простой и понятный, по сравнению с другими бэкенд-языками. Те, кто программирует на Питоне,
говорит о коде, как об «элегантном», «читаемом» и «красивом».

Что можно делать на Python

Вот несколько оптимальных задач:
Написание кроссплатформенных shell-скриптов.
Быстрая автоматизация.
Веб-разработка.

Какие компании используют Python

Полный список и самые известные компании:
Uber
Pinterest
Mozilla
Spotify
Quora
Pandora
Netflix
Asana

Средняя заработная плата разработчиков

Весной 2020 года средняя зарплата в США составляла $76526 в год. Разброс — от $58k до $107k.
</div>
{% endblock %}